html {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: 'Cinzel';
  src: url('../assets/fonts/Cinzel/Cinzel-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Crimson';
  src: url('../assets/fonts/Crimson_Text/CrimsonText-Regular.ttf') format('truetype');
}

/* FIRST LEVEL ITEMS */

body {
  background: url("../assets/img/pexels-maps.jpg") no-repeat fixed center;
  display: grid;
  columns: auto;
  height: 100vh;
  gap: 20px;
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

/* SECOND LEVEL ITEMS */

#header {
  height: fit-content;
  display: inline-grid;
  grid-template-columns: 5% 45% auto 50%;
  grid-auto-flow: row;
  align-items: center;
  background: #fff1c2;
  margin: 24px 24px 0 24px;
}

#stats {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 8px;
  padding: 4px 8px;
}

#stats > i {
  font-family: Cinzel;
  font-size: 10pt;
}

#stats > p {
  font-family: Crimson;
  font-size: 14pt;
}

#nav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-items: space-around;
  gap: 4px;
  background: #fff1c2;
  margin: auto;
  font-family: Cinzel;
}

#nav > .vline {
  height: 60%;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-basis: 24%;
  flex-direction: column;
  gap: 8px;
  background: #fff1c2;
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
  padding: 8px;
}

#main > a.digisoc:hover {
  filter: drop-shadow(4px 4px 4px #195887);
  transform: scale(1.1);
  transform: rotate(-3deg);
}

#main > a.activist:hover {
  filter: drop-shadow(4px 4px 4px #B90C0C);
  transform: scale(1.1);
  transform: rotate(-5deg);
}

#main > a.storyteller:hover {
  filter: drop-shadow(4px 4px 4px #beaa10);
  transform: scale(1.1);
  transform: rotate(5deg);
}

#file {
  background-color: #fff1c2;
  padding: 8px;
  border-style: solid;
  border-width: 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  height: fit-content;
}

#footer {
  height: fit-content;
  display: flex;
  flex-basis: 10%;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  background: #fff1c2;
  padding: 12px;
  margin: 0 24px 24px 24px;
}

#footer > p {
  margin: 0;
  text-align: center;
}

/* THIRD LEVEL ITEMS */

#card_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#file_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#card_header > .digisoc {
  color: #1958B7;
}

#card_header > .activist {
  color: #B90C0C;
}

#card_header > .storyteller {
  color: #BEAA10;
}

#spells {
  height: 100%;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#spells > div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#textbox {
  background: fixed #F0F0F0;
  border: #000000 inset;
  padding: 20px;
  margin: 8px;
  font-style: italic;
}

/* CLASSES */

.digisoc {
  border-color: #1958B7;
}

.digisoc > h2 {
  color: #1958B7;
}

.digisoc > .vline {
  border-color: #1958B7;
  height: 0px;
}

.activist {
  border-color: #B90C0C;
}

.activist > h2 {
  color: #B90C0C;
}

.activist > .vline {
  border-color: #B90C0C;
  height: 0px;
}

.storyteller {
  border-color: #BEAA10;
}

.storyteller > h2 {
  color: #BEAA10;
}

.storyteller > .vline {
  border-color: #BEAA10;
  height: 0px;
}

.vline {
  border: 1px solid black;
  height: 100%;
}

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
  row-gap: 8px;
}

.img_container {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 450px;
  height: 450px;
  margin: auto;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  grid-column: 2;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.socials > a {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding: 12px;
}

/* BUTTONS */

.primary {
  font-family: Cinzel, serif;
  font-size: 24pt;
  font-weight: bold;
  color: #F0F0F0 !important;
  border-style: solid;
  border-width: 4px;
  border-radius: 40px;
  padding: 8px;
  margin: 12px;
  text-align: center;
  align-self: center;
}

.activist.primary {
  background-color: #B90C0C;
}

.digisoc.primary {
  background-color: #1958B7;
}

.storyteller.primary {
  background-color: #BEAA10;
}

.tertiary {
  padding: 8px;
}

/* CHARACTERS */

h1 {
  font-size: 48pt;
  font-family: Cinzel, serif;
  text-align: left;
  padding: 20px;
  margin: 0;
}

h2 {
  font-size: 24pt;
  font-family: Cinzel, serif;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 8px;
}

h3 {
  font-size: 16pt;
  font-family: Cinzel, serif;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}

h4 {
  font-size: 12pt;
  font-family: Crimson, serif;
  font-style: normal;
  margin: 0;
  padding: 8px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
}

i {
  font-size: 10pt;
  font-family: Crimson, serif;
}

p {
  font-size: 12pt;
  font-family: Crimson, serif;
  margin: 0;
}

ul {
  display: block;
  list-style-type: disc;
  padding-left: 40px;
}

